body{
  background-color: rgb(38, 38, 186);
}
nav {
  background-color: #fff; /* Use a primary color from Material Design's palette */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16); /* Add a subtle shadow */
}

/* Style for the navbar links */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 16px; /* Apply consistent spacing between links */
}

nav a {
  text-decoration: none;
  color: #3f51b5; /* Use an accent color for links */
  font-family: Roboto, sans-serif;
  /* font-weight: 500; */
  padding: 8px;
  display: flex;
  align-items: center;
}

/* Style for the icons */
nav img {
  margin-right: 8px; /* Space between icons and text */
  height: 24px; /* Ensure consistent icon size */
  width: 24px;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  nav li {
    margin-right: 8px; /* Reduce spacing on smaller screens */
  }

  nav ul {
    flex-wrap: wrap; /* Allow links to wrap onto multiple lines */
  }
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff; /* Use a primary color from Material Design's palette */
  padding: 16px;
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16); /* Subtle shadow */
}

#search-input {
  flex-grow: 1; /* Expand to fill available space */
  border: none;
  border-radius: 4px; /* Rounded corners */
  padding: 10px;
  margin-right: 16px; /* Spacing between input and select */
  font-family: Roboto, sans-serif;
}

#search-input:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12); /* Focus indicator */
}

#search-type {
  border: none;
  border-radius: 4px; /* Rounded corners */
  padding: 8px;
  font-family: Roboto, sans-serif;
  background-color: #f5f5f5; /* Lighter background for the select */
}

#search-type option {
  font-family: Roboto, sans-serif;
}