<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--
    <link rel="stylesheet" href="https://gist.githubusercontent.com/ninofelino12/f1fa4b82892bb3638d814ffedc21c6dd/raw/6ccf731f969f6ac60f1d75e53230010f463cbab2/style.css">
-->
</head>
<body>
    source /home/exxpande/virtualenv/flask/3.9/bin/activate && cd /home/exxpande/flask
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#odoo">Odoo</a></li>
        <li><a href="/serial">Serial</a></li>
        <li><a href="/docker">Docker</a></li>
        <li><a href="/iot">IOT</a></li>
        <li><a href="http://103.180.164.146:2082/">Hosting</a></li>
        
        
      </ul>
    </nav>
    
      
    <h1>Hosting</h1>
    
    <div>
<h2>
    Setup
</h2>
<div id="sidebar">
    <li><a href="/hosting">Hosting Setting</a></li>
<li><a href="http://103.180.164.146:2082/">Hosting Exp</a></li>
<img src="static/python.png" width="80%">

</div id="sidebar">
<div>
    <h2>Masuk te terminal</h2>
    ketik
    <code>
        source /home/exxpande/virtualenv/program/3.11/bin/activate && cd /home/exxpande/program
       
    </code>
</div>



</body>
</html>
