<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--
    <link rel="stylesheet" href="https://gist.githubusercontent.com/ninofelino12/f1fa4b82892bb3638d814ffedc21c6dd/raw/6ccf731f969f6ac60f1d75e53230010f463cbab2/style.css">
-->
</head>
<body>
    source /home/exxpande/virtualenv/flask/3.9/bin/activate && cd /home/exxpande/flask
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#odoo">Odoo</a></li>
        <li><a href="/serial">Serial</a></li>
        <li><a href="/docker">Docker</a></li>
        <li><a href="/iot">IOT</a></li>
        <li><a href="http://103.180.164.146:2082/">Hosting</a></li>
        <li><a href="http://103.180.164.146:2082/">Hosting Exp</a></li>
        <li><a href="/hosting">Hosting Setting</a></li>
      </ul>
    </nav>
    
      
    <h1>Bogor Odoo-Iot {{user}}</h1>
    <div>
<h2>


Visi:
</h2>
"Menjadi pionir dan pemimpin dalam pengembangan solusi Internet of Things (IoT) yang inovatif dan berkelanjutan, mendorong transformasi positif dalam kehidupan sehari-hari, industri, dan masyarakat secara luas."
<h2>
    Misi:
</h2>


Inovasi Teknologi:
Menyediakan solusi IoT yang inovatif dengan mengintegrasikan teknologi terbaru untuk memecahkan tantangan dunia nyata dan memperbaiki efisiensi, keamanan, dan kenyamanan.

Keberlanjutan Lingkungan:
Mengembangkan solusi yang berfokus pada keberlanjutan dan ramah lingkungan, dengan tujuan mengurangi dampak lingkungan dan meningkatkan kesadaran akan tanggung jawab sosial perusahaan.

Kemitraan dan Kolaborasi:
Membangun kemitraan strategis dengan pemangku kepentingan, termasuk industri, pemerintah, dan komunitas, untuk menciptakan ekosistem yang mendukung pertumbuhan dan keberhasilan bersama.

Ketanggapan dan Kepuasan Pelanggan:
Menempatkan kepuasan pelanggan sebagai prioritas utama, dengan berfokus pada pengembangan solusi yang tanggap terhadap kebutuhan pelanggan, memberikan dukungan teknis yang unggul, dan memastikan keandalan sistem.

Pendidikan dan Kesadaran:
Berkontribusi pada peningkatan pemahaman masyarakat tentang IoT, keamanan siber, dan manfaat teknologi terkini melalui program pendidikan, pelatihan, dan inisiatif kesadaran masyarakat.

Kualitas dan Keamanan:
Menjadikan standar kualitas dan keamanan sebagai landasan utama dalam pengembangan produk dan layanan IoT, dengan komitmen untuk menjaga privasi pengguna dan melindungi data secara cermat.

Ketangguhan dan Scalability:
Mengoptimalkan desain produk dan infrastruktur untuk ketangguhan dan skalabilitas, sehingga dapat memberikan layanan yang handal bahkan dalam kondisi yang paling tantang dan dapat berkembang seiring dengan pertumbuhan kebutuhan pengguna.

Pemberdayaan dan Keterlibatan Karyawan:
Menciptakan lingkungan kerja yang inspiratif, memberikan peluang pengembangan pribadi dan profesional, serta mendorong keterlibatan karyawan, karena percaya bahwa sumber daya manusia yang berdedikasi adalah kunci keberhasilan perusahaan.
    </div>
    <a href="odoo">Odoo</a>
    <script src="https://gist.github.com/ninofelino12/f1fa4b82892bb3638d814ffedc21c6dd.js"></script>
   

</body>
</html>
