<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--
    <link rel="stylesheet" href="https://gist.githubusercontent.com/ninofelino12/f1fa4b82892bb3638d814ffedc21c6dd/raw/6ccf731f969f6ac60f1d75e53230010f463cbab2/style.css">
-->
</head>
<body>
    <nav>
      
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#news">Board</a></li>
        
        <li><a href="/iot">IOT</a></li>
        <li><a href="https://gist.github.com/ninofelino12">gist</a>
      </ul>  
    </nav>
      <h2>Lolin mini S2</h2>
      <img width="50%" src="static/lolinmini.png"/>
      <a>datasheet</a>
    <h2>ESP8266</h2>
    <img width="50%" src="static/nodemcuv3.jpg"/>
    <h2>ESP32CAM</h2>
    <img width="50%" src="static/esp32-cam-pinout.webp"/>
    <h2>ESP32 S3</h2>
    <img width="50%" src="static/esp32s3.jpg"/>
</body>
</html>
