<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js" defer></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
  
</head>


<body>
<div id="topnav" style="background-color: aquamarine;display: flex;">
 
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search...">
    <select id="search-type">
      <option value="all">Semua</option>
      <option value="product">Produk</option>
      <option value="category">Kategori</option>
    </select>
  </div>

 
</div>
  
  

  <script>
    // window.onload = loadData;
    async function loadJSON(url,tag) {
      alert('click'+url)
      document.querySelector("#loadButton").style.cursor = "wait";
      document.getElementById("loading-container").style.display = "block";
      var progressBar = document.getElementById("loading-progress-bar");
      progressBar.style.width = "0%";

      try {
        const response = await fetch(url);

        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.text();
        document.getElementById(tag).innerHTML = data;
        document.querySelector("#loading-button").style.cursor = "default";
        progressBar.style.width = (100 / data.length) + "%";
        document.getElementById("loading-container").style.display = "none";
        document.getElementById("crd").style.display="none"; 
        return data;
      } catch (error) {
        console.error('Error loading JSON:', error);
        throw error; // Re-throw to allow further handling
      }
    }


  </script>
  <div id="loadingMessage"></div>
  
  <div id="menu">
    {{script | safe}}
  </div>
  <div class="loader"></div>
  <div id="loading-container">
    <div id="loading-spinner"></div>
    <div id="loading-progress-bar"></div>
  </div>
<ul id="isi" class="cards">

  
    
    </ul>
  <div class="container" style="background-color: rgb(35, 37, 37);display: flex;">
    <div class="crd" style="width:30%;background-color: beige;padding: 3px;">
      <h1>sidebar</h1>
      <button id="loadButton" onclick="loadJSON('http://127.0.0.1:5000/table','xmlData')">Load XML</button> 
      <button onclick="clearCache()">Clear Cache</button>
      {{sidebar|safe}}
    </div>
  
    <div class="crd" style="background-color: aquamarine;">
<!-- 3333333333 -->
      {{content|safe}}
      <pre id="xmlData">hhhhhhhhhhhhhhhhhhhhhh</pre>
    </div>
  
    <div style="background-color: blue;">
      {{name|safe}}
      <pre id="xmlData">hhhhhhhhhhhhhhhhhhhhhh</pre>
    </div>
    
  </div>
  



</body>


</html>