<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='bard.css') }}">                                          
    </head>
    <style>
        container{
          display: flex;
          /* flex-direction: row;
          flex-wrap: wrap; */
          background-color: blanchedalmond;
        }
      </style>
    <body>
    <container>                                          
    {{ script | safe}}  
    </container>
    {{ content }}  
    </body>
    </html>