
    <ul class="cards">
    <li class="cards__item">
    <div class="card">
      <div class="card__image"><img src="http://127.0.0.1:5000/image/26"></div>
      <div class="card__content">
        <div class="card__title">Flex Basis</div>
        <p class="card__text">This defines the default can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
    </li>
    </ul>

    
    <ul class="cards">
    <li class="cards__item">
    <div class="card">
      <div class="card__image"><img src="http://127.0.0.1:5000/image/26"></div>
      <div class="card__content">
        <div class="card__title">Flex Basis</div>
        <p class="card__text">This defines the default can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
    </li>
    </ul>

    
    <ul class="cards">
    <li class="cards__item">
    <div class="card">
      <div class="card__image"><img src="http://127.0.0.1:5000/image/26"></div>
      <div class="card__content">
        <div class="card__title">Flex Basis</div>
        <p class="card__text">This defines the default can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
    </li>
    </ul>

    
    <ul class="cards">
    <li class="cards__item">
    <div class="card">
      <div class="card__image"><img src="http://127.0.0.1:5000/image/26"></div>
      <div class="card__content">
        <div class="card__title">Flex Basis</div>
        <p class="card__text">This defines the default can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
    </li>
    </ul>

    