<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Load JSON with Console Log</title>
  <script src="https://unpkg.com/alpinejs" defer></script> 
  <!-- <script src="alpine.js" defer></script> -->
  
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <script>
    var menuItems= [
                  { label: 'Home', url: '#' },
                  { label: 'About', url: '#' },
                  { label: 'Product', url: 'product' },
                  { label: 'Services', url: '#' },
                  { label: 'Contact', url: '#' }
               ]
  </script>
  <style type="text/tailwindcss">
    * {
      border: 1px solid red;
    }
  </style>
</head>
<body>

  <nav class="bg-gray-800 p-4">
    <i class="material-icons">favorite</i>
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-lg font-bold">Logo</a>
        <div class="space-x-4" x-data="{ menuItems }">
          <template x-for="(menu, index) in menuItems">
            
            <a x-bind:href="menu.url" class="text-white"  x-text="menu.label">
              
            
          </a>
           
           
          </template>
          
        </div>
    </div>
</nav>
 <!-- {{content|safe}}
  -->
  <script>
    const toggleWebcam = document.getElementById('toggleWebcam');
  const video = document.createElement('video');
  const constraints = {
    video: true
  };

  toggleWebcam.addEventListener('change', function() {
    if (this.checked) {
      navigator.mediaDevices.getUserMedia(constraints)
        .then(function(stream) {
          video.srcObject = stream;
          video.play();
        })
        .catch(function(error) {
          console.error('Error accessing media devices.', error);
        });
    } else {
      video.pause();
      video.srcObject = null;
    }
  });
  </script>
  
 





 
  <div  x-data="{products: [], loadedYet: false}"
    x-init="products = await (await fetch('/product/0')).json(); loadedYet = true">
    <div class="flex justify-end p-8 bg-gray-200 coulum=3">
      <template x-for="(product, index) in products">
         
          
          <div class="max-w-sm bg-white shadow-md rounded-md overflow-hidden">
            
              <img :src="product.url" />
              <h1 x-text="product.name"></h1>
              <p x-text="product.description"></p>
          </div>  
              
          
            
        </template>
      
    </div>
        
  </div>
 
</body>
</html>
