<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Odoo Product</title>
  <!-- <script src="https://unpkg.com/alpinejs" defer></script>  -->
  <!-- <script src="alpine.js" defer></script>  -->
  <script src="{{ url_for('static', filename='alpine.js') }}"></script>
  
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
 <script>
    var menuItems= [
                  { label: 'Home', url: '#' ,img:'static/img/home.svg'},
                  { label: 'About', url: '#' ,img:'static/img/info.svg'},
                  { label: 'Product', url: 'product',img:'static/img/product.svg' },
                  { label: 'Services', url: '#',img:'static/img/home.svg' },
                  // { label: 'Contact', url: '#' ,img:'static/img/home.svg'}
               ]
  </script>
  <style type="text/tailwindcss">

    body {
      margin: 0;
      overflow: hidden; /* Menyembunyikan scrollbar */
    }
  

    *a {
      border: 1px solid red;
    }
  </style>
</head>
<body>
 
  <nav class="bg-gray-400 p-4">
 
    <div class="container justify-between items-center">
      <!-- <a href="#" class="text-white text-lg font-bold">Logo</a> -->
      <div class="space-x-4" x-data="{ menuItems }">
        <template x-for="(menu, index) in menuItems">
          <div class="inline-block">
            <img class="w-3 text-red-500 mx-auto rounded-md" :src="menu.img" />
            <a x-bind:href="menu.url" class="text-white text-sm" x-text="menu.label">
            </a>
            <span>
  
            </span>
          </div>
        </template>
      </div>
    </div>
  </nav>

  
 
  <div class="" x-data="{products: [], loadedYet: false}"
    x-init="products = await (await fetch('/product/0')).json(); loadedYet = true">
    <div class="flex flex-wrap justify-around p-8"">

      <template x-for="(product, index) in products">
        <div class="flex flex-wrap justify-around p-4">

          <div class="max-w-sm bg-gray-200 p-6 rounded-md shadow-md m-4">
            <img class="w-64" :src="product.url" /> 
            
            <h2 class="text-xl font-semibold mb-4" x-text="product.name"></h2>
            <p x-text="product.description"></p>
           
          </div>

      </template>
    </div>
  </div>

  <footer class="fixed bottom-0 left-0 right-0 bg-gray-800 text-white">
    <div class="container mx-auto p-4 text-center ">
        
         
    
    <template x-for="(menu, index) in menuItems">
      <div class="inline-block">
         <img class="w-4 text-red-500 mx-auto" :src="menu.img"/> 
         <a x-bind:href="menu.url" class="text-white"  x-text="menu.label">
          <h1>L</h1>
         </a>
      <span>
       
      </span>
      </div>
     
      
     
    </template>
  </footer>

 
</body>
</html>
