<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXutwHyB_zouaxRQuUn4Gh672gADtUsQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>856774459322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>odoodb-afb24</string>
	<key>STORAGE_BUCKET</key>
	<string>odoodb-afb24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856774459322:ios:6bc8082e9cc52b98f5e783</string>
	<key>DATABASE_URL</key>
	<string>https://odoodb-afb24-default-rtdb.firebaseio.com</string>
</dict>
</plist>