<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Add your CSS links or styles here -->
    <link rel="stylesheet" href="css">
    <link rel="stylesheet" href="css/web.assets_backend.min.css">
    <link rel="stylesheet" href="css/web.assets_common.min.css">
    <link rel="stylesheet" href="css/web.assets_backend_prod_only.min.js">
    <link rel="stylesheet" href="css/http://localhost:8015/web.assets_backend_prod_only.min.js">
   
</head>

<body>
   
    
    <nav class="o_main_navbar">
        <div>
            <label for="myCheck">Show Table:</label> 
        <input type="checkbox" id="myCheck" onclick="myFunction()">
        {{nav|safe}}
        </div>
        
    </nav>">

        <!-- Navigation links or menu can be added here -->
       
        
        <script>
            function getContent(url,jenis){
               
                url=`model/${url}`;
                
                fetch(url).then(response => {
            
            if (!response.ok) {
                  throw new Error("Gagal mengambil data");
                  alert("BUKAN JSON");
              }
            return response.json();
          })
          .then(data => {
            alert(data);
            var checkBox = document.getElementById("myCheck");
            if (checkBox.checked){
                document.getElementById('section').innerHTML=jsonToCard(data); 
            } else {
                document.getElementById('section').innerHTML=jsonToTable(data);
            }
           
        })
        }

        function getXml(url){
               
               url=`${url}`;
               alert(url);
               fetch(url).then(response => {
           
           if (!response.ok) {
                 throw new Error("Gagal mengambil data");
                 alert("BUKAN JSON");
             }
           return response.text();
         })
         .then(data => {
           alert(data);
           var checkBox = document.getElementById("myCheck");
           
           //document.getElementById('section').textContent=`<code>${data}</code>`; 
           document.getElementById('section').innerHTML=`<code>${data}</code>`; 
           document.getElementById('xml').textContent=`<code>${data}</code>`; 
           
          
          
       })
       }

        function jsonToTable(data) {
      const jsonData=data;
      var tableHtml = '<table class="o_list_table table table-sm table-hover table-striped o_list_table_ungrouped" >';
  
          // Create table header
          tableHtml += '<thead ><tr>';
          for (var key in jsonData[0]) {
              tableHtml += '<th>' + key + '</th>';
          }
          tableHtml += '</tr></thead>';
  
          // Create table body
          tableHtml += '<tbody>';
          jsonData.forEach(function (obj) {
              tableHtml += '<tr>';
              for (var key in obj) {
                  tableHtml += `<td classname="${key}">` + obj[key] + '</td>';
              }
              tableHtml += '</tr>';
          });
          tableHtml += '</tbody>';
  
          tableHtml += '</table>';
          
          return tableHtml;
    };


    function jsonToCard(data) {
      const jsonData=data;
      
      var tableHtml = '<div class="flex-container">';
  
         
        //tableHtml += '<div class="card"></div>'; 
          jsonData.forEach(function (obj) {
              tableHtml += '<div class="card"  style="width:300px;padding:3px;background-color:#6750a4;transition: 0.3s;background-color:red">';
              //tableHtml += '<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%"/>';
              tableHtml += '<div class="container" onmouseover="eventcontainer(event)">';  
              tableHtml += '<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:40%"/>';  
              for (var key in obj) {
                 tableHtml += `<div>` + obj[key] + '</div>';
              }
              tableHtml += '</div>';
              tableHtml += '</div>';  

          });
          
  
          tableHtml += '</div>';
          tableHtml += '</div>';
          
          return tableHtml;
    };
  
        </script>
    </nav>
    <header class="o_control_panel">
        <!-- <h1>Dashboard Title</h1> -->
        {{header|safe}}
       
        
    </header>
    <main>
        <section id="section" style="padding: 15px;">
            <h2>Section 1</h2>
            <!-- Content for the first section -->
            <p>This is the content of Section 1.</p>
        </section>

        <section>
            <h2>Section 2</h2>
            <!-- Content for the second section -->
            <div id="xml"></div>
            <p>This is the content of Section 2.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Dashboard</p>
    </footer>
</body>

</html>

